@import "./base/normalise";
@import "./utils/vars";
@import "./base/base";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";

@media screen and (min-width: 220px) and (max-width: 617px) {
    .clients-list__item {
       width: 45%;
    }
    .header-nav__list {
      display: none;
    }
    .header-contact__list {
      display: none;
    }
}

@media screen and (max-width: 617px) {
    .features{
    &-list__item {
     width: 100%;
    }
    &-title {
      text-align: center;
    }
    &-description {
      width: auto;
    }
   
    
  }
  .stack__section{
    display: none;
  }
  .clients-list__item {
    width: 45%;
  }
  .footer-subscription{
    &__title{
      text-align: center;
    }
    &__form {
    flex-wrap: wrap;
  }
  &__label{
    width: 100%;
  }
  &__input {
    width: 104%;
  }
  &__content{
    align-items: center;
  }
}
}
@media screen and (min-width: 617px) and (max-width: 1200px) {
  .header-logo__link {
    padding-right: 40px;
  }
  .header-contact__list {
    width: 150px;
    justify-content: end;
  }
  .header-box {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
  }
  .header-navigation-list__item {
    margin-right: 15%;
  }
  .stack__section{
    display: none;
  }
  .features{
    &-list__item {
    width: 50%;
  }
  &-title {
    text-align: center;
  }
  &-description {
     width: auto;
  }}
  .stack__section{
    display: none;
  }
  .clients-list__item {
    min-width: 35%;
  }
  .footer-subscription__content {
    align-items: center;
    }
}