@import "./base/normalise";
@import "./utils/vars";
@import "./base/base";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";



@media (min-width: 320px) and (max-width: 767px) {
  
  // Mobile menu buttton

  .header-nav__list, .header-contact__list {
    display: none;
  }
  .navigation__button{
    display: flex;
    width: 40px;
    height: 35px;
    border-style: none;
    background-color: transparent;
    background-image: url("../icons/menu_40px.svg");
    background-repeat: no-repeat;
  }

  // .navigation__button:focus+.header-nav__list{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   position: absolute;
  //   width: 100%;
  //   background-color: #fff;
  //   left: 0;
  //   top: 10px;
  //   height: calc( 100vh - 114px);
  // }
  
  .is-open{
    display: block !important;
  }
   
  // Mobile menu content

  .modal{
    width: 95vw;
    height: 80vh;
  
    &-form__content{
      overflow: hidden;
    }
  }
  
  .modal-form{
    height: 100%;
    overflow-y: auto;
    max-height: 80vh;
  }
  .form-icon_contact{
    top: 270px;
  }

  // Mobile menu

  .mobile-menu{
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    top: 0%;
    left: 0%;
    z-index: 900;
    // transform: translateX(-50%);
    background-color: $primaryWhiteColor;
  
    &__content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &__close{
      position: absolute;
      top: 35px;
      right: 20px;
      border: none;
      color: $titleTextColor;
      background-color: transparent;
    }
    &__close:hover{
      color: $accentColor;
    }
    &__footer{
      display: flex;
      flex-direction: column;
      margin: 30px;
    }
    &__social{
      display: flex;
    }
    &__link{
      text-decoration: none;
      padding-right: 15px;
      color: $accentColor;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height, or 122% */
      letter-spacing: 0.02em;
    }
  }
    .mobile-contact__link{
        display: flex;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      /* identical to box height, or 122% */
        letter-spacing: 0.02em;
    }
      .mobile-social{
        &__list{
          padding-right: 10px;
          padding-left: 10px;
        }
        &__list:not(:last-child){
          border-right: 1px solid grey;
        } 
        &__link{
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
        /* identical to box height, or 122% */
        text-decoration: none;
          letter-spacing: 0.02em;

          color: $accentColor;

        }
      }

    .mobile-nav{
      &__list {
      display: block;
      padding: 40px 20px;
      }
    }
     .mobile-navigation-list__item {
      padding: 5px;
    }
     .mobile-contact{
      &__list{
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-bottom: 54px;
    }
    &-list__item{
      margin: 10px;
  
    }
    &__link{
      text-decoration: none;
      color: $aditionalTextColor;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;
    }
    &__tel{
      color: $accentColor;
      text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      padding-bottom: 32px;
    }
  }
  
    .mobile-nav__link{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 47px;
      text-align: center;
      letter-spacing: 0.02em;
      color: $titleTextColor;
      display: flex;
      text-decoration-line: none;
      width: 100%;
    }
    .mobile-nav-active__link{
      color: $accentColor;
    }

    .header-navigation-list__item {
      position: relative;
      margin: 15px;
      width: 15%;
    }
    .header-nav-active__link:after {
      display: none;
    }
    .header-navigation {
      width: 90%;
    }
  .hero-title {
    font-size: 26px;
  }
  .stack__section{
    display: none;
  }
  .clients-list__item {
    width: 45%;
  }
  .features{
    &-list__item {
      width: 100%;
      margin-right: 20px;
    }
    
    &-title {
      text-align: center;
    }
    &-description {
        text-align: center;
        width: 100%;
    }
  }
  .footer-subscription{
    &__title{
      text-align: center;
    }
    &__form {
    flex-wrap: wrap;
  }
    &__label{
      width: 100%;
      margin-bottom:20px
  }
    &__input {
     width: 104%;
  }
    &__content{
     align-items: center;
  }
}
}


@media (min-width: 768px) and (max-width: 1199px) {
  .features{
    &-list__item {
      width: calc(100% / 2 - 60px);
      margin-right: 20px;
    }
    
    &-title {
      text-align: center;
    }
    &-description {
          text-align: center;
          width: 100%;
    }
  }
    .stack__section{
      display: none;
  }
  
  .footer-subscription{
    &__title{
      text-align: center;
    }
    &__form {
    flex-wrap: wrap;
  }
  &__label{
    width: 100%;
    margin-bottom:20px
  }
  &__input {
    width: 104%;
  }
  &__content{
    align-items: center;
  }
}
}

@media (min-width: 768px) and (max-width: 1201px) {
  .navigation__button{
    display: none;
  }
  .mobile-menu{
    display: none;
  }
  .header-logo__link {
    padding-right: 40px;
  }
  .header-nav__list {
    width: 250px;
  }
  .header-contact__list {
    width: 21%;
    justify-content: end;
  }
  .header-box {
    padding: 25px 20px;
    display: flex;
    justify-content: space-around;
  }
  .header-navigation-list__item {
    margin-right: 15%;
  }
  .stack__section{
    display: none;
    &-title {
    text-align: center;
    }
    &-description {
     width: auto;
    }
    }
  .stack__section{
    display: none;
  }
  .clients-list__item {
    min-width: 32%;
  }
  .footer-subscription__content {
    align-items: center;
    }
}


@media (min-width: 1200px){
  .navigation__button{
    display: none;
  }
  .mobile-menu{
    display: none;
  }
 
  .header-contact__list {
    display: flex;
  }
  // .header-contact__list {
  //   width: 180px;
  //   justify-content: end;
  // }
  .features{
    &-list__item {
      width: calc(100% / 4 - 60px);
      margin-right: 20px;
  }
     &-list__item:last-child{
      margin-right: 0%;
  } 
}
// .footer-subscription__content {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   width: 33%;
// }
// .footer-subscription__label {
//   display: flex;
//   justify-content: center;
//   height: 52px;
//   width: 60%;
// }
// .footer__container {
//   font-family: Roboto;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   text-decoration-line: none;
//   color: rgba(255,255,255,0.6);
//   justify-content: space-evenly;
//   display: flex;
//   flex-wrap: wrap;
//   width: auto;
// }